<div class="row">
  
    <div class="col-md-12 col-12 col-lg-12 col-xl-12">
      <div class="card">
        <div class="card-header" (click)="isCollapsedGeneraldetails = !isCollapsedGeneraldetails">General Details</div>
        <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)"
          [collapse]="isCollapsedGeneraldetails">
          <form #cab="ngForm">
            <div class="row">
              <div class="col-md-12 col-12 col-lg-12 col-xl-12">
                <div class="form-group d-none">
                  <label for="cabid">id:</label>
                  <input type="text" class="form-control" id="cabid" name="id" placeholder="id"
                    [(ngModel)]="cabDetails[0].id">
                </div>
              </div>
              <div class="col-md-12 col-12 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label for="company"><sup class="text-danger">*</sup> Company:</label>
                  <input type="text" class="form-control" id="company" name="company" placeholder="Company"
                    [(ngModel)]="cabDetails[0].company">
                </div>
              </div>
              <div class="col-md-12 col-12 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label for="model"><sup class="text-danger">*</sup> Model:</label>
                  <input type="text" class="form-control" id="model" name="model" placeholder="Model"
                    [(ngModel)]="cabDetails[0].model">
                </div>
              </div>
              <div class="col-md-12 col-12 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label for="passingno"><sup class="text-danger">*</sup> Passing No.:</label>
                  <input type="text" class="form-control" id="passingno" name="passingno" placeholder="Passing No."
                    [(ngModel)]="cabDetails[0].passingno">
                </div>
              </div>
              <div class="col-md-12 col-12 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label for="color">Colour:</label>
                  <input type="text" class="form-control" id="color" name="color" placeholder="Colour"
                    [(ngModel)]="cabDetails[0].color">
                </div>
              </div>
  
              <div class="col-md-12 col-12 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label for="cpacity"><sup class="text-danger">*</sup>Capacity:</label>
                  <input type="text" class="form-control" id="cpacity" name="cpacity"
                    placeholder="Capacity (Number of seats availabel)" [(ngModel)]="cabDetails[0].cpacity">
                </div>
              </div>
  
              <div class="col-md-12 col-12 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label for="driver_name">Driver`s Name:</label>
                  <input type="text" class="form-control" id="driver_name" name="driver_name" placeholder="Time Period"
                    [(ngModel)]="cabDetails[0].driver_name">
                </div>
              </div>
              <div class="col-md-12 col-12 col-lg-3 col-xl-3">
                <div class="form-group">
                  <label for="price"><sup class="text-danger">*</sup>Price:</label>
                  <input type="number" class="form-control" id="price" name="price" placeholder="Price"
                    [(ngModel)]="cabDetails[0].price">
                </div>
              </div>
  
              <div class="col-md-12 col-12 col-lg-3 col-xl-3">
                <div class="form-group">
                  <label for="discounted_price">Discounted Price:</label>
                  <input type="number" class="form-control" id="discounted_price" name="discounted_price"
                    placeholder="Discounted Price" [(ngModel)]="cabDetails[0].discounted_price">
                </div>
              </div>
              <div class="col-md-6 col-6 col-lg-2 col-xl-2">
                <div class="form-group">
                  <label for="cgst">CGST:</label>
                  <input type="number" class="form-control" id="cgst" name="cgst" placeholder="CGST"
                    [(ngModel)]="cabDetails[0].cgst">
                </div>
              </div>
              <div class="col-md-6 col-6 col-lg-2 col-xl-2">
                <div class="form-group">
                  <label for="sgst">SGST:</label>
                  <input type="number" class="form-control" id="sgst" name="sgst" placeholder="SGST"
                    [(ngModel)]="cabDetails[0].sgst">
                </div>
              </div>
              <div class="col-md-6 col-6 col-lg-2 col-xl-2">
                <div class="form-group">
                  <label for="igst">IGST:</label>
                  <input type="number" class="form-control" id="igst" name="igst" placeholder="IGST"
                    [(ngModel)]="cabDetails[0].igst">
                </div>
              </div>
  
              <div class="col-md-12 col-12 col-lg-12 col-xl-12">
                <div class="form-group">
                  <label for="description">Description:</label>
  
                  <angular-editor id="description" name="description" placeholder="Enter text here..."
                    [(ngModel)]="cabDetails[0].description"></angular-editor>
                </div>
              </div>
  
              <div class="col-md-12 col-12 col-lg-8 col-xl-8">
                <div class="row">
                  <div class="col-md-12 col-12 col-lg-6 col-xl-6">
                    <div class="form-group">
                      <label for="userProfile">Driver`s Pic:</label>
                      <input type="file" #coverImage ng2FileSelect name="coverImage" [uploader]="uploader"
                        (change)="onSelectFile($event)" />
                      <br>
                      <small class="text-warning">*Image size should be 280X190(width/height) in pixels</small>
                    </div>
                  </div>
                  <div class="col-md-12 col-12 col-lg-6 col-xl-6">
                    <div class="card">
                      <img [src]="url" class="img-fluid">
                    </div>
                    <button class="btn btn-warning" (click)="resetImage()">Remove</button>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-12 col-lg-12 col-xl-12">
                <div class="col-md-4 col-4 col-lg-2 col-xl-2 ml-auto">
                  <button class="btn btn-primary" [disabled]="VerifyForm()"
                    (click)="savecabDetails(cab)">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-12 col-lg-12 col-xl-12" *ngIf="cabDetails[0].id > 0">
      <div class="card">
        <div class="card-header" (click)="isCollapsedDocDetails = !isCollapsedDocDetails">Documents Details</div>
        <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)"
          [collapse]="isCollapsedDocDetails">
          <form #cabDocuments="ngForm">
            <div class="col-md-12 col-12 col-xl-12 col-lg-12">
              <div class="table-responseive">
                <table class="table">
                  <thead>
                    <th>#</th>
                    <th>Document Name</th>
                    <th>Document Copy</th>
                    <th></th>
                    <th></th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let docs of cabDocs;let i = index">
                      <td>{{i+1}}</td>
                      <td class="d-none"><input name="docid{{i}}" [(ngModel)]="docs.id"></td>
                      <td class="d-none"><input name="docfilename{{i}}" [(ngModel)]="docs.tempfilename"></td>
                      <td><input type="text" class="form-control" name="docname{{i}}" placeholder="Document Name"
                          [ngModel]="docs.docname"><sup *ngIf="docs.required" class="text-danger">Required</sup></td>
                      <td><input type="file" ng2FileSelect name="coverImage{{i}}" [uploader]="uploader" (change)="onFileDocSelected($event,i)" /><sup
                          *ngIf="!uploader.queue[i] && docs.required" class="text-danger">Required</sup></td>
                      <td><img class="img-fluid" [src]="docs.docimgtemp" (click)="previewDocument(docs.docimgtemp,i)" style="height: 75px;"> </td>
                      <td><i (click)="RemoveDocument(docs,i)" class="material-icons text-danger pointer">delete</i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-12 col-12 col-lg-12 col-xl-12">
              <div class="col-md-6 col-6 col-lg-3 col-xl-3 mr-auto">
                <button class="btn btn-primary" (click)="addDocFile(cabDocuments)">Add new Document</button>
              </div>
              <div class="col-md-4 col-4 col-lg-2 col-xl-2 ml-auto">
                <button class="btn btn-primary" [disabled]="VerifyDocForm()"
                  (click)="savecabDocDetails(cabDocuments)">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <div class="col-md-12 col-12 col-lg-12 col-xl-12" *ngIf="cabDetails[0].id > 0">
      <div class="card">
        <div class="card-header" (click)="isCollapsedcabImages = !isCollapsedcabImages">Documents Details</div>
        <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)"
          [collapse]="isCollapsedcabImages">
  
  
  
          <div class="row">
            <div class="card-columns">
              <div class="card" *ngFor="let _img of cabGallery;let i =index">
                  <span class="badge badge-danger notify-badge"  *ngIf="_img.id == 0">Click to add new image</span>
                  <form #cabImages="ngForm">
                      <div class="card-header">
                          <div class="text-right">
                              <button *ngIf="_img.id != 0" (click)="previewDocument(_img.coverpictemp)" class="btn btn-sm btn-warning rounded-circle">&#10063;</button>
                              &nbsp;
                              <button (click)="uploadvahicalGalleryImage(cabImages)" class="btn btn-sm btn-success rounded-circle">&#10004;</button>
                              &nbsp;
                            <button *ngIf="_img.id != 0" (click)="RemoveGalleryImage(_img,i)" class="btn btn-sm float-right btn-danger rounded-circle">&#10008;</button>
                          </div>
                        </div>
                        <div class="card-body" (click)="OpenfileChooser(i)">
                            <div class="ml-auto mr-auto">
  
                                <input type="file" id="GalaryPic{{i}}" ng2FileSelect [uploader]="uploader" (change)="onSelectGalleryFile($event,_img)" class="d-none " />
  
                                <img [src]="_img.coverpictemp" class="img-fluid" onError="this.src= '../../../assets/img/add-photo-album.png'" style="height: 175px;width:auto;"  />
                            </div>
                          </div> 
                          <div class="card-footer">
                              <input class="d-none" name="id" [(ngModel)]="_img.id">
                              <input class="d-none" name="cabid" [(ngModel)]="cabDetails[0].id"
                              >
                              <div class="ml-auto mr-auto">
                                  <textarea class="form-control" name="description" [(ngModel)]="_img.description"
                              placeholder="Decription for this image"></textarea>
                              </div>
                          </div>
                </form>
              </div>
  
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  
  