<div class="row pb-2 mr-2">
  <div class="col-md-1 col-3">
  <select (change)="onPageSizeChanged()" class="row form-control pagination" [(ngModel)]="pagesize"  id="page-size">
    <option value="10" selected="">10</option>
    <option value="100">100</option>
    <option value="500">500</option>
    <option value="1000">1000</option>
  </select>
</div>
<div class="col-md-1 col-3 text-nowrap"><button class="btn btn-info" [disabled]="VerifySelectedRowsAdd()"  [routerLink]="['/experiences/cruzedetails',cruzid]"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp;Add</button></div>
<div class="col-md-1 col-3  text-nowrap"><button class="btn btn-info" [disabled]="VerifySelectedRows()"   [routerLink]="['/experiences/cruzedetails',cruzid]"><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Edit</button></div>
<div class="col-md-1 col-3  text-nowrap"><button class="btn btn-info" [disabled]="VerifySelectedRowsDelete()" (click)="DeleteCruzDetails()"><i class="fa fa-trash" aria-hidden="true"></i> &nbsp;Delete</button></div>
</div>



<div class="row">
  <ag-grid-angular 
  #agGrid
  style="width: 100%; height: 60vh;" 
  class="ag-theme-balham"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  rowSelection="multiple"
  [floatingFilter]="true"
  [animateRows]="true"
  [enableRangeSelection]="true"
  [pagination]="true"
  [paginationPageSize]="paginationPageSize"
  (gridReady)="onGridReady($event)"
 [paginationNumberFormatter]="paginationNumberFormatter"
  (selectionChanged)="onSelectionChanged($event)"
  >
</ag-grid-angular>
</div> 
