<div class="row">
  
    <div class="col-md-12 col-12 col-lg-12 col-xl-12 mb-1">
        <div class="col-md-3 col-3 col-lg-3 col-xl-3 text-left">
            <button class="btn btn-warning" [routerLink]="['/hotels/hotels']"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
        </div>  
      </div>

    <div class="col-md-12 col-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-header" (click)="isCollapsedGeneraldetails = !isCollapsedGeneraldetails">General Details</div>
            <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsedGeneraldetails">
              <form #hotel="ngForm">
                <div class="row">
                    <div class="col-md-12 col-12 col-lg-12 col-xl-12">
                      <div class="form-group d-none">
                        <label for="hotelid">id:</label>
                        <input type="text" class="form-control" id="hotelid" name="id" placeholder="id" [(ngModel)]="hotelDetails[0].id">
                      </div>
                    </div>

                    <div class="col-md-12 col-12 col-lg-4 col-xl-4">
                      <div class="form-group">
                        <label for="hotelname"><sup class="text-danger">*</sup> Name:</label>
                        <input type="text" class="form-control" id="hotelname" name="name" placeholder="Name" [(ngModel)]="hotelDetails[0].name" required>
                      </div>
                    </div>

                    <div class="col-md-12 col-12 col-lg-4 col-xl-4">
                      <div class="form-group">
                        <label for="addressline1"><sup class="text-danger">*</sup> Address Line 1:</label>
                        <input type="text" class="form-control" id="addressline1" name="addressline1" placeholder="Address Line 1" [(ngModel)]="hotelDetails[0].addressline1" required>
                      </div>
                    </div>

                    <div class="col-md-12 col-12 col-lg-4 col-xl-4">
                      <div class="form-group">
                        <label for="addressline2">Address Line 2:</label>
                        <input type="text" class="form-control" id="addressline2" name="addressline2" placeholder="Address Line 2" [(ngModel)]="hotelDetails[0].addressline2">
                      </div>
                    </div>

                    <div class="col-md-6 col-6 col-lg-3 col-xl-3">
                      <div class="form-group">
                        <label for="state"><sup class="text-danger">*</sup> Country:</label>
                        <select class="form-control" id="country" name="country" [(ngModel)]="hotelDetails[0].country" (change)="getStatesOnCountry(hotelDetails[0].country)" required>
                            <option selected disabled value="0">Select Country</option>
                            <option *ngFor="let cntryObje of countries" value="{{cntryObje.id}}">{{cntryObje.name}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-6 col-6 col-lg-3 col-xl-3">
                      <div class="form-group">
                         <label for="state"><sup class="text-danger">*</sup> State:</label>
                              <select class="form-control" id="state" name="state" [(ngModel)]="hotelDetails[0].state" (change)="getCitiesOnSate(hotelDetails[0].state)" required>
                                  <option selected disabled value="0">Select State</option>
                                  <option *ngFor="let stateObje of states" value="{{stateObje.id}}">{{stateObje.name}}</option>
                              </select>
                      </div>
                    </div>

                    <div class="col-md-6 col-6 col-lg-3 col-xl-3">
                      <div class="form-group">
                        <label for="city">City:</label>
                        <select class="form-control" id="city" name="city" [(ngModel)]="hotelDetails[0].city"  (change)="getAreasOnCity(hotelDetails[0].city)">
                            <option selected disabled value="0">Select City</option>
                            <option *ngFor="let cityObje of cities" value="{{cityObje.id}}">{{cityObje.name}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-6 col-6 col-lg-3 col-xl-3">
                      <div class="form-group">
                         <label for="area">Area:</label>
                              <select class="form-control" id="area" name="area" [(ngModel)]="hotelDetails[0].area">
                                  <option selected disabled value="0">Select Area</option>
                                  <option *ngFor="let areaObje of areas" value="{{areaObje.id}}">{{areaObje.name}}</option>
                              </select>
                      </div>
                    </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                          <label for="description">Description:</label>

                          <angular-editor id="description" name="description"  placeholder="Enter text here..." [(ngModel)]="hotelDetails[0].description"></angular-editor>
                        </div>
                      </div>
                      <div class="col-md-12 col-12 col-lg-4 col-xl-4">
                        <div class="form-group">
                          <label for="hotelemail"><sup class="text-danger">*</sup> Email:</label>
                          <input type="email" class="form-control" id="hotelemail" name="email" placeholder="Email" [(ngModel)]="hotelDetails[0].email" required>
                        </div>
                      </div>
  
                      <div class="col-md-12 col-12 col-lg-4 col-xl-4">
                        <div class="form-group">
                          <label for="mobile1"><sup class="text-danger">*</sup> Mobile No.:</label>
                          <input type="text" pattern="\d*" class="form-control" id="mobile1" name="mobile1" placeholder="Mobile No." maxlength="10" [(ngModel)]="hotelDetails[0].mobile1" required>
                        </div>
                      </div>
  
                      <div class="col-md-12 col-12 col-lg-4 col-xl-4">
                        <div class="form-group">
                          <label for="mobile2">Alt. Mobile No.:</label>
                          <input type="text" pattern="\d*" class="form-control" id="mobile2" name="mobile2" maxlength="10" placeholder="Alt. Mobile No." [(ngModel)]="hotelDetails[0].mobile2">
                        </div>
                      </div>
                      <div class="col-md-12 col-12 col-lg-4 col-xl-4">
                        <div class="form-group">
                          <label for="hotelwebsite">Website:</label>
                          <input type="text" class="form-control" id="hotelwebsite" name="website" placeholder="Website" [(ngModel)]="hotelDetails[0].website">
                        </div>
                      </div>
  
                      <div class="col-md-12 col-12 col-lg-4 col-xl-4">
                        <div class="form-group">
                          <label for="landline1">Landline No.:</label>
                          <input type="text" pattern="\d*" class="form-control" id="landline1" name="landline1" maxlength="10" placeholder="Landline No."  [(ngModel)]="hotelDetails[0].landline1">
                        </div>
                      </div>
  
                      <div class="col-md-12 col-12 col-lg-4 col-xl-4">
                        <div class="form-group">
                          <label for="lanline2">Alt. Landline No.:</label>
                          <input type="text" pattern="\d*" class="form-control" id="lanline2" name="landline2" maxlength="10" placeholder="Alt. Landline No."  [(ngModel)]="hotelDetails[0].landline2">
                        </div>
                      </div>
  
                      <div class="col-md-12 col-12 col-lg-4 col-xl-4">
                          <div class="form-group">
                              <label for="gstin">GSTIN:</label>
                              <input type="text" class="form-control" id="gstin" name="gstin" placeholder="GSTIN"  [(ngModel)]="hotelDetails[0].gstin">
                            </div>
                      </div>
                      <div class="col-md-12 col-12 col-lg-8 col-xl-8">
                        <div class="row">
                        <div class="col-md-12 col-12 col-lg-6 col-xl-6">
                          <div class="form-group">
                              <label for="userProfile">Profile Pic:</label>
                              <input type="file" #bannerImage ng2FileSelect name="bannerimg" [uploader]="uploader" (change)="onSelectFile($event)"/>
                              <br>
                              <small class="text-warning">*Image size should be 280X190(width/height) in pixels</small>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-6 col-xl-6">
                          <div class="card">
                            <img [src]="url" class="img-fluid">
                         </div>
                         <button class="btn btn-warning" (click)="resetImage()">Remove</button>
                        </div>
                        </div>
                      </div>
                  </div>

                    <div class="col-md-12 col-12 col-lg-12 col-xl-12">
                      <div class="col-md-4 col-4 col-lg-2 col-xl-2 ml-auto">
                         <button class="btn btn-primary" [disabled]="VerifyForm()" (click)="saveHotelDetails(hotel)">Submit</button>
                      </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>

    <!-- The Modal -->
<div bsModal #modalAminityDetails="bs-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Aminities Details</h4>
          <button type="button" class="close" (click)="modalAminityDetails.hide()"><span
              aria-hidden="true">&times;</span></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          
            <div class="row">
              <div class="col-12">
                <h5 class="medium-text">Icons</h5><sup>Select icon for Aminity</sup>
              </div>
              <div class="col-3 text-center aminities-icons" *ngFor="let _icon of icons" (click)="setIconForAminity(_icon);modalAminityDetails.hide()" [innerHTML]="_icon.display">
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-12 col-12 col-lg-12 col-xl-12">
      <div class="card">
        <div class="card-header" (click)="isCollapsedAminities = !isCollapsedAminities">Aminities</div>
        <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)"
          [collapse]="isCollapsedAminities">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                            <th>#</th>
                            <th><sup class="text-danger">*</sup>Tital</th>
                            <th>Description</th>
                            <th>Icon</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let _hotelAminities of hotelAminities;let i = index">
                                <td>{{i +1}}</td>
                                <td  style="width: 280px;"><input type="text" class="form-control" placeholder="title" [(ngModel)]="_hotelAminities.titlename" autofocus required></td>
                                <td>
                                  <textarea id="description" class="form-control" name="description" placeholder="Enter text here..."
                                  [(ngModel)]="_hotelAminities.description"></textarea>
                                </td> 
                                <td class="text-left" >
                                 <div>
                                    <button  (click)="aminityIndex = i;modalAminityDetails.show()"><h1 class="icon {{_hotelAminities.icon}}"></h1></button>
                                    <input class="d-none" [(ngModel)]="_hotelAminities.icon">
                                 </div>
                                </td>
                                <td><i (click)="RemoveAminity(i)" class="material-icons text-danger pointer">delete</i></td>
                              </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="col-4 col-md-4 col-lg-2 col-xl-2">
                      <button class="btn btn-info" (click)="addNewAminity()">Add New</button>
                    </div>
                    </div>

                  <div class="col-4 col-md-4 col-lg-2 col-xl-2 ml-auto">
                    <button class="btn btn-primary" *ngIf="hotelDetails[0].id != 0" [disabled]="VerifyHotelAminities()" (click)="SavehotelAminities()">Submit</button>
                  </div>
              </div>
            </div>
        </div>
      </div>

   
    <div class="col-md-12 col-12 col-lg-12 col-xl-12">
        <div class="card">
          <div class="card-header" (click)="isCollapsedrooms = !isCollapsedrooms">Rooms</div>
          <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsedrooms">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <th>#</th>
                                <th><sup class="text-danger">*</sup>Type</th>
                                <th><sup class="text-danger">*</sup>Available Rooms</th>
                                <th>Capacity</th>
                                <th>Description</th>
                                <th><sup class="text-danger">*</sup>Price</th>
                                <th>Discounted Price</th>
                                <th></th>
                            </thead>
                            <tbody>
                              <tr *ngFor="let _hotelRooms of hotelRooms;let i = index">
                                <td>{{i +1}}</td>
                                <td><input type="text" class="form-control" placeholder="Room Type" [(ngModel)]="_hotelRooms.room_type" autofocus required></td>
                                <td><input type="number" class="form-control" [(ngModel)]="_hotelRooms.rooms_count" placeholder="Available Rooms"></td>
                                <td><input type="number" class="form-control" [(ngModel)]="_hotelRooms.capacity" placeholder="Capacity"></td>
                                <td (click)="setTextinEditor(_hotelRooms.description,i);modalRoomDescription.show()"><div class="description"><div [innerHTML]="_hotelRooms.description || 'Description'"></div></div></td>
                                <td><input type="number" class="form-control" [(ngModel)]="_hotelRooms.price" placeholder="Price"></td>
                                <td><input type="number" class="form-control" [(ngModel)]="_hotelRooms.discounted_price" placeholder="Discounted Price"></td>
                                <td><i (click)="RemoveRoom(_hotelRooms,i)" class="material-icons text-danger pointer">delete</i></td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="col-4 col-md-4 col-lg-2 col-xl-2">
                          <button class="btn btn-info" *ngIf="hotelDetails[0].id != 0" (click)="addNewRoom()">Add New</button>
                        </div>

                        <div class="col-4 col-md-4 col-lg-2 col-xl-2 ml-auto">
                          <button class="btn btn-primary" *ngIf="hotelDetails[0].id != 0" [disabled]="VerifyHotelRooms()" (click)="SaveHotelRoomDetails()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-12 col-12 col-lg-12 col-xl-12" *ngIf="hotelDetails[0].id != 0">
        <div class="card">
          <div class="card-header" (click)="isCollapsedGallery = !isCollapsedGallery">Gallery</div>
          <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)"
            [collapse]="isCollapsedGallery">
            
               <!--  <input type="file" #fileLoader ng2FileSelect [uploader]="uploader" multiple
                (onFileSelected)="onFileSelected($event)" />          --> 
                <div class="row">
                <div class="card-columns">
                  <div class="card" *ngFor="let _img of hotelGallery;let i =index">
                      <span class="badge badge-danger notify-badge"  *ngIf="_img.id == 0">Click to add new image</span>
                      <form #hotelImages="ngForm">
                          <div class="card-header">
                              <div class="text-right">
                                  <button *ngIf="_img.id != 0" (click)="previewDocument(_img.tmpfilename)" class="btn btn-sm btn-warning rounded-circle">&#10063;</button>
                                  &nbsp;
                                  <button (click)="uploadHotelGalleryImage(hotelImages)" class="btn btn-sm btn-success rounded-circle">&#10004;</button>
                                  &nbsp;
                                <button *ngIf="_img.id != 0" (click)="RemoveGalleryImage(_img,i)" class="btn btn-sm float-right btn-danger rounded-circle">&#10008;</button>
                              </div>
                            </div>
                            <div class="card-body" (click)="OpenfileChooser(i)">
                                <div class="ml-auto mr-auto">
    
                                    <input type="file" id="GalaryPic{{i}}" ng2FileSelect [uploader]="uploader"                                (change)="onSelectGalleryFile($event,_img)" class="d-none " />
    
                                    <img [src]="_img.tmpfilename" class="img-fluid" onError="this.src= '../../../assets/img/add-photo-album.png'" style="height: 175px;width:auto;"  />
                                </div>
                              </div> 
                              <div class="card-footer">
                                  <input class="d-none" name="id" [(ngModel)]="_img.id">
                                  <input class="d-none" name="hotelid" [(ngModel)]="hotelDetails[0].id"
                                  >
                                  <div class="ml-auto mr-auto">
                                      <textarea class="form-control" name="description" [(ngModel)]="_img.description"
                                  placeholder="Decription for this image"></textarea>
                                  </div>
    
                                  <div class="ml-auto mr-auto">
                                     <select class="form-control" id="roomid" name="roomid" [(ngModel)]="_img.roomid">
                                         <option selected disabled value="0">Select Room If Require</option>
                                  <option *ngFor="let roomObj of hotelRooms" value="{{roomObj.id}}">{{roomObj.room_type}}</option>
                                     </select>
                                  </div>
    
                                  
                              </div>
                    </form>
                  </div>
      
                </div>
                </div>
          
          </div>
        </div>
      </div>


    <div bsModal #modalRoomDescription="bs-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal body -->
          <div class="modal-body">


              <angular-editor placeholder="Enter text here..." [(ngModel)]="htmlContent"></angular-editor>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <a class="btn btn-info" (click)="RevertEditedText();modalRoomDescription.hide()">Save</a>
            <a class="btn btn-secondary"  (click)="modalRoomDescription.hide()">Close</a>
          </div>
        </div>
      </div>
    </div>


</div>