// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
@import "../assets/styles.css";


$ag-icons-path: "../node_modules/ag-grid-community/src/styles/ag-theme-balham/icons/";
$odd-row-background-color: rgb(10, 169, 238);
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.notify-badge{
  position: absolute;
  left:-10px;
  top:10px;
  text-align: center;
}

